img.kraken-logo {
  float: right;
  margin: 20px;
}
h2 {
  color: grey;
}
.shane-pic {
text-align: center;
}
.work-done {
  margin: 10px;
  border: 2px solid brown;
  padding: 40px;
  background-color: tan;
}
.work-history {
  font-family: sans-serif;
  font-size: 20px;
}
.stronger{
  color: red;
}
